.app{
  width: 100vw;
}
Nav{
  font-family:"inter";
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 144px;
  align-items: center;
  background: #FFF;
box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.25);
}

Nav>h2{
  font-size: 30px;
  cursor: pointer;
}
Nav>h3{
  font-size: 25px;
  cursor: pointer;
}
.Earning-calc{
  border: 2px solid #047E70;
  width: 280px;
  height: 52px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btns{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  
}
.login-btns>h3{
  height: 49px;
  margin: 10px;
  width: 144px;
  border-radius: 23px;
  cursor: pointer;
}
.login-btns>.login{
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btns>.signup{
  background-color:#047E70;
  display: flex;
  justify-content: center;
  align-items: center;

}
.logo{
  width: 176px;
  height: 80px;
  cursor: pointer;
}